@import url(https://db.onlinewebfonts.com/c/24ee22b1aca25a7d83f28d63c4093f8e?family=Neuzeit+Grotesk+Regular);

:root {
    --max-width: 1200px;
    --border-radius: 2rem;
    --main-color-p: #e86471;
    --main-color-dark-p: #c95762;
    --text-dark-p: #100629;
    --light-orange-p: #BF4C35;
    --dark-pink-p: #F098A3;
    --light-pink-p: #FCE0E3;
    --dark-orange-p: #F77415;
    --yellow-p: #FAF4DE;
    --dark-yellow-p: #FEEEBC;
    --purple-p: #DFBACD;
    --pink-: #FABEBA;
    --cyan-p: #CBDBD1;
    --dark-white-p: #f8f7f5;
    --white-p: #ffffff;
    --white-purple-p: #ece8f7;
    --light-purple-p: #DFBACD;
    --yellow-pastel-p: #E39B21;
    --purple-pastel-p: #A85259;

    --main-index: 6;
    --first-index: 5;
    --second-index: 3;
    --third-index: 2;
    --fourth-index: 1;
    --fifth-index: -1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Neuzeit Grotesk Regular', 'Poppins', sans-serif;
}
/*utils*/
.text-align-center{
    text-align: center;
}

/*main class*/
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--text-dark-p);
}

.section__description {
    margin-bottom: 2rem;
    max-width: 500px;
    font-weight: 500;
}

.btn {
    width: fit-content;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 0.9rem;
    color: var(--white-p);
    background-color: var(--main-color-p);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--main-color-dark-p);
}


/*by section classes*/
.header__main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--first-index);
    display: none;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
}

.logo_text__mobile {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
}

.home__content h2 {
    color: var(--white-p);
}

.buttons-fixed {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.buttons-fixed li {
    display: inline-block;
    margin-right: 10px;
}


.menu-fixed .btn:hover {
    background-color: var(--light-orange-p);
}

img {
    display: flex;
    width: 100%;
}

.container {
    position: relative;
}

.logo-text {
    text-align: end;
}

.logo-text h1, .logo-text h4 {
    color: var(--main-color-p);
}


.logo-text::after {
    /*content: '';*/
    /*position: absolute; !* Posicionamento absoluto em relação ao elemento pai *!*/
    /*top: -50%; !* Posiciona o topo do pseudoelemento no final do último elemento de conteúdo *!*/
    /*left: 26%; !* Posiciona o pseudoelemento no centro horizontal do elemento pai *!*/
    /*width: 380px; !* Largura da imagem *!*/
    /*height: 380px; !* Altura da imagem *!*/
    /*background-image: url('assets/Circle-3.png'); !* URL da imagem *!*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*z-index: 1; !* Garante que a imagem fique acima do conteúdo *!*/
}

.header__container {
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    padding: 68px 1rem 1rem;
    text-align: center;
}

/*menu*/
.nav-menu {
    position: relative;
}

nav {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    max-width: 300px;
    z-index: var(--first-index);
}

.nav__menu__btn {
    z-index: var(--first-index);
    padding: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--main-color-p);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: fixed; /* Fixa o cabeçalho no topo da janela */
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.nav__menu__btn:hover {
    background-color: var(--main-color-dark-p);
}

.nav__menu__btn span {
    display: inline-block;
    padding: 0 6px;
    font-size: 1.5rem;
    counter-reset: var(--text-dark-p);
    background-color: var(--white-p);
    border-radius: 100%;

}

.nav__menu__btn h4 {
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-p);
}

.nav__links {
    position: relative;
    isolation: isolate;
    list-style: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    display: none;
}


.nav__links::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: var(--main-color-p);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: var(--fifth-index);
}

.nav__links.open {
    display: grid;
    position: fixed;
    max-width: 265px;
    top: 2.3rem;
    left: 1rem;
}

.nav__links.nav__links.open::before {

    animation: show-nav 0.5s forwards;
}

.nav__links.nav__links.close::before {

    animation: hide-nav 0.5s forwards;
}

@keyframes show-nav {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        height: 300%;
        width: 300%;
    }
}

@keyframes hide-nav {
    0% {
        height: 300%;
        width: 300%;
    }
    100% {
        height: 0;
        width: 0;
    }
}

.nav__links a {
    display: block;
    padding: 0.75rem;
    font-weight: 500;
    color: var(--white-p);
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
}

.nav__links a:hover {
    background-color: var(--main-color-dark-p);
}

.nav__links.open a {
    animation: show-link 0.5s forwards;
}

.nav__links.close a {
    animation: hide-link 0.5s forwards;
}

@keyframes show-link {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-link {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.header__content {
    margin-top: 20px;
}

.header__content h1, .header__content h4 {
    color: var(--main-color-p);
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

.header__content .section__header {
    margin-inline: auto;
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__btns img {
    max-width: 150px;
    border-radius: 5px;
}

/*home*/
.home__container {
    display: grid;
    gap: 2rem;
    min-height: 70vh;
    border-radius: 0 var(--border-radius);
    background-color: var(--main-color-dark-p);
}

.home__container img {
    min-height: 30vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.home__container img {
    opacity: 1;
}

.home__image img {
    margin-inline: auto;
    border-radius: 0 var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.home__content {
    padding: 2rem;
}

/*about*/
.about__container .section__header {
    text-align: center;
}

.about__grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.about__grid h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

.about__left {
    overflow: hidden;
    padding: 2rem;
    border-radius: 0 var(--border-radius);
    background-color: var(--light-pink-p);
}

.about__left__image {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.about__left__image img {
    max-width: 250px;
    border-radius: 0 var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about__right {
    background-color: var(--yellow-p);
    border-radius: var(--border-radius) 0;
    overflow: hidden;
}

.about__right__content {
    padding-block: 2rem 0;
    padding-inline: 2rem;
}

.about__right img {
    transform: translateX(2rem);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.about__main {
    display: grid;
    align-items: center;
    border-radius: 0 var(--border-radius);
    background-color: var(--dark-white-p);
}

.about__main__content {
    padding: 2rem;
    max-width: 500px;
    margin-inline: auto;
}

.about__main img {
    max-width: 450px;
    margin-inline: auto;
    border-radius: var(--border-radius);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

/* services*/
.services__container {
    padding-block: 0;
    display: grid;
    gap: 2rem;
    background-color: var(--light-purple-p);
    /*border-radius: var(--border-radius);*/
    overflow-y: hidden;
}

.services__content {
    padding-block: 5rem;
    display: grid;
    place-content: center;
}

.services__wrapper {
    display: none;
}

.services__content .section__header {
    margin-bottom: 2rem;
}

/*projects with swiper*/

.swiper {
    margin-top: 4rem;
    width: 100%;
}

.swiper-slide {
    max-width: 300px;
}

.projects__swiper__card {
    position: relative;
    isolation: isolate;
}

.projects__swiper__image {
    border-radius: var(--border-radius);
}

.projects__swiper__user {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 60px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.projects__swiper__card__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-weight: 500;
    color: var(--text-dark-p);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
}

/*faq*/
.faq__container .section__header {
    text-align: center;
}


.faq__grid {
    margin-top: 4rem;
    max-width: 900px;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
}

.faq__card {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    background-color: var(--dark-white-p);
    border-radius: 1rem;
}

.faq__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.faq__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark-p);
}

.faq__header span {
    font-size: 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.faq__card.active .faq__header span {
    transform: rotate(180deg);
}

.faq__content {
    font-weight: 500;
    color: var(--text-dark-p);
    display: none;
}

.faq__card.active .faq__content {
    display: block;
}

.footer__container {
    text-align: center;
}

.footer__socials {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials a {
    padding: 2px 8px;
    font-size: 1.5rem;
    color: var(--white-p);
    background-color: var(--text-dark-p);
    border-radius: 100%;
    transition: 0.3s;
}

.footer__socials a:hover {
    background-color: var(--main-color-p);
}

.footer__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__links a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark-p);
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--main-color-p);
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    /*border-top: 1px solid gray;*/
    background-color: var(--main-color-dark-p);
}

@media (width > 560px) {
    .about__main {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media (width > 1390px) {
    .nav__menu__btn {
        display: none;
    }

    .header__main {
        display: flex;
        justify-content: space-between;
    }

    .logo_text__mobile {
        display: none;
    }

    .header__container {
        align-items: center;
        padding: 150px 1rem 1rem;
        text-align: left;
    }


}

@media (width > 768px) {

    .home__container {
        display: grid;
        gap: 2rem;
        min-height: 70vh;
        background-color: var(--main-color-dark-p);
        border-radius: 0;
    }

    .description-header {
        margin-top: 30px;
    }

    .item.active {
        width: 100%;
        box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    }

    .item:first-child {
        border-radius: 0 0 0 var(--border-radius);
    }

    .item:last-child {
        border-radius: 0 0 var(--border-radius) 0;
    }


    .home__content {

        padding: 0;
    }


    .header__content .section__description {
        margin-inline-start: unset;
    }

    .header__btns {
        justify-content: flex-start;
    }

    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services__content {
        padding-block: 10rem;
    }

    .services__wrapper {
        display: block;
        position: relative;
        isolation: isolate;
    }

    .services__wrapper-inner {
        position: absolute;
        width: 100%;
        display: grid;
        gap: 1rem;
        animation: scroll 15s linear infinite;
    }

    .services__wrapper-inner img {
        max-width: 350px;
        margin-inline: auto;
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    @keyframes scroll {
        to {
            transform: translateY(calc(-50% - 0.5rem));
        }
    }

    .about__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__main {
        grid-column: 1/3;
    }
}


.social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    --webkit-transform: translateZ(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: var(--main-index);

}

.social-icons a {
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--white-p);
    background-color: var(--light-orange-p);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--white-p);


}

.social-icons a:hover {
    background-color: var(--dark-orange-p);
}


.item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.item.active .item-desc {
    transform: none;
}

.container__servicos_wrapper {
    background-color: #DAB27D;
    padding-top: 5rem;

}

.container__servicos_wrapper h2 {
    text-align: center;
    margin-bottom: 0;
    color: var(--white-p);
}

.container-servicos {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
}

.item {
    /*margin: 0 15px 60px;*/
    width: 350px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--yellow-pastel-p);
}

.item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.item-desc p {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.6s ease-in-out 0.2s;

}

.item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: var(--second-index);
    overflow: hidden;
    transform: translateY(calc(100% - 94px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.item.active .item-desc p {
    opacity: 1;
    transform: translateY(0);
}

.item-desc h3 {
    font-size: 24px;
    padding: 20px;
    bottom: 20px;
    transform: translateY(calc(100% - 54px));
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    color: #fff;
    text-shadow: #000 1px 1px 1px;
    position: relative;
    z-index: var(--second-index);
    overflow: hidden;
}

.item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}


/*__projects*/
.container__projects {
    /*width: 80%;*/
    padding: 20px;
    margin: 0 auto;
    background-color: #DFBACD;
}

.container__projects h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 25px;
}

.container__projects .services__projects {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.container__projects .services__projects .card__projects {
    width: 330px;
    text-align: center;
    background: var(--yellow-p);
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card__projects {
    min-height: 200px;
}

.container__projects .services__projects .card__projects:hover {
    background: var(--main-color-dark-p);
    color: var(--dark-white-p);
}

.container__projects .services__projects .card__projects .content__projects .icon:hover {
    color: var(--dark-white-p);
}

.container__projects .services__projects .card__projects .content__projects {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.container__projects .services__projects .card__projects:hover .content__projects {
    transform: scale(1.07);
}

.container__projects .services__projects .card__projects .content__projects .icon {
    padding: 5px 0;
    color: var(--main-color-dark-p);
}

.container__projects .services__projects .card__projects .content__projects .icon i {
    font-size: 40px;
}

.container__projects .services__projects .card__projects:hover .content__projects .title {
    color: var(--dark-white-p);
    transition: 0.3s;
}

.container__projects .services__projects .card__projects:hover .content__projects .icon {
    color: var(--dark-white-p);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.container__projects .services__projects .card__projects .content__projects .title {
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--yellow-pastel-p);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}


.section__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--purple-pastel-p);

}

.container__contact {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: var(--second-index);

}

.container__contact .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: var(--purple-pastel-p);
    z-index: var(--main-index);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
}

.container__contact .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container__contact .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container__contact .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container__contact .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container__contact .contactInfo ul.info li span a {
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;

}


.container__contact .contactInfo ul.info li {
    color: var(--white-p);
    margin-left: 10px;
    font-weight: 300;
}

.container__contact .contactForm {
    position: absolute;
    padding: 70px 50px 50px 250px ;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: var(--white-p);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

.container__contact .contactForm h2 {
    color: var(--text-dark-p);
    font-size: 24px;
    font-weight: 500;
}

.container__contact .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container__contact .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container__contact .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container__contact .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container__contact .contactForm .formBox .inputBox input,
.container__contact .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container__contact .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container__contact .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container__contact .contactForm .formBox .inputBox input:focus ~ span,
.container__contact .contactForm .formBox .inputBox input:valid ~ span,
.container__contact .contactForm .formBox .inputBox textarea:focus ~ span,
.container__contact .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--purple-pastel-p);
    font-weight: 500;
}

.container__contact .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: var(--purple-pastel-p);
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container__contact .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #0d9480;
}

@media (max-width: 1200px) {
    .container__contact {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    .container__contact .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0;
    }

    .container__contact .contactForm {
        position: relative;
        width: calc(100% - 350px);
        margin-left: 0;
        padding: 40px 40px 0;
        height: 550px;
        box-shadow: none;
        border-radius: 0;
    }
}

@media (max-width: 991px) {
    .section__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--purple-pastel-p);;
    }
    .container__contact {
        display: flex;
        flex-direction: column-reverse;
    }

    .container__contact .contactForm {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .container__contact .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .container__contact .contactForm {
        padding: 25px;
    }

    .container__contact .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container__contact .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
}